*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-clip: border-box;
}



html{
  scroll-behavior: smooth;
}

.font1{
  font-family: 'Noto Sans KR', sans-serif;
}

.font2{
  font-family: 'Anton', sans-serif;
}

.font3{
  font-family: 'Bree Serif', serif;
}

.font4{
  font-family: 'Permanent Marker', cursive;
}

.font5{
  font-family: 'Oswald', sans-serif;
}

.landing{
  background: url(../images/worship.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: -80px;
}


.navbar{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*stick to the top*/
  position: fixed;
  top: 0px;
  width: 100%;
  margin-top: 20px;
  z-index: 1;
  
}

.navbar > a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  margin-left: 30px;
  color: white;
  transition: .2s;
}

.navbar > a:hover{
  text-decoration: none;
  /* color: white; */
  /* text-shadow: 2px 4px 5px black; */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../images/sub.jpg);
  /* background: url(../images/sub.jpg);
  background-position: center;
  display: flex;
  background-size: cover; */
}

.navbar-list > li{
  display: inline-block;
  padding: 0 20px;
  color: transparent;
  margin-right: 30px;
  transition: .2s;
}

.navbar-list > li > a{
  text-decoration: none;
  color: white;
}

.navbar-list > li > a:hover{
  text-decoration: none;
  color: white;
  /* text-shadow: 2px 2px 4px #8a02bb;     */
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../images/sub.jpg);
}




.land{
  background-color: rgba(153, 153, 153, 0.6);
  z-index: 2;
  height: 200px;
  text-align: center;
  color: white;
  margin: 20vh auto;
  padding: 0 200px;
  /* justify-content: center;
  align-items: center;
  height: 100vh;
  padding: -80px; */
  z-index: 3;
  width: 100%;
 
  
}

.land > h1{
  font-size: 80px;
  font-weight : bold;
  color: whitesmoke;
  
}


.land > h3{
  color: #ededed;
}



.parallax{
  background: url(../images/footer.jpg);
  height: 80vh;
  padding-top: 30px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}


.countdown{
  text-align: center;
  font-size: 50px;
  color: #F5F0F0;
  border-top: 1px solid white;
  padding-top: 30px;
}

.dot{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.dot > div{
  color: white;
}
/* 
.circles {
height: 200px;
width: 200px;
background-color: 0.0;
color: white;
border-radius: 100%;
border: 2px solid black;
display: inline-block;
align-items: center;
justify-content: center;
text-align: center;
font-size: 130px;
margin: 0 45px;
transition: .5s;
margin-bottom: 30px;
}

.circles:hover{
  background-color: black;
  /*rgba(22, 24, 35, 1);
  color: white;
  border: 2px solid rgba(22, 24, 35, 1);
} */

.p-title{
  color: #F5F0F0;
}

.p-title > div > h1{
  font-size: 70px;
}

.p-title > h4{
  font-size: 20px;
}

.p-title > div > h2{
  font-size: 50px;
}

.about{
  height: 500vh;
  background-color: #0a0b10;
  display: inline-block;
  transition: .5s;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.about > h1{
  text-align: left;
  padding: 20px 50px 200px 50px;
  font-size: 50px;
  color: #F5F0F0;
}

.about > h3{
  text-align: right;
  padding: 100px 50px 30px 0px;
  font-size: 30px;
  color: #F5F0F0;
}
/* 
.gallery{
  margin: 30px;
  padding: 50px;
}

.gallery > img{
  /* height: 400px; 
  width: 40%;
  padding-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

} */

.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background-color: rgba(249, 240, 243, 1);
transition: 0.3s;
width: 40%;
padding: 5px 5px 40px 5px;
display: block;
margin: 10% auto;
}

.card:hover {
box-shadow: 0 8px 16px 0 whitesmoke;
}

.container {
padding: 2px 16px;
color: black;
font-size: 30px;
}

/* images */
.slides{
  /* width: 70%; */
  /* height: 110vh;  */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0%;
  left: 0;
}

.slider{
  /* margin-bottom: -40px; */
  background: #FFF;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  justify-content: flex-start;
  display: flex;
  align-items: center;

}

.slider >h1{
  padding-top: 200px;
  padding-bottom: 100px; 
  font-size: 50px;
  color: #F5F0F0;
  text-align: center;
}

.contact-us{
  height: 80vh;
  background-color: #0a0b10;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  width: 50%;
}

.form-contents > h1{
  font-size: 50px;
  color:  #F5F0F0;
}

.form-contents, .contact-message{
  width: 50%;
  resize: none;
}

.form-input{
  display: block;
  margin: 7px 0;
  width: 100%;
  border-radius: 10px;
  height: 25px;
  font-size: 20px;
}

.message{
  height: 100px;
  resize: none;
}

.contact-btn{
  align-items: left;
  width: 80px;
  font-size: 20px;
  background-color: #F5F0F0;
}



.contact-btn:hover{
  background-color: rgba(68, 67, 67, 0.445);
  color: white;
}

.find-us > h1{
  font-size: 50px;
  color:  #F5F0F0;
}


.end{
  background: url(../images/black.jpg);
  height: 20vh;
  /* padding-top: 20px; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  /* padding-left: 80px; */
  display: flex;
  font-size: 25px;
}



.follow{
  border-top: 1px solid white;
  padding-top: 10px;
  position: absolute;
} 

/* 
.fa {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
} */


.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
}


.fa:hover {
opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 20px 24px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.copyright{
  text-align: right;
  color: #F5F0F0;
  font-size: 15px;
  padding-left: 40%;
}

.f-title{
  text-align: left;
  color: #F5F0F0;
  font-size: 15px;
  padding-right: 30%;
}



.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}


.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}