/*TABLET*/
@media only screen and (min-width: 401px) and (max-width: 960px){
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-clip: border-box;
        /* overflow: hidden; */
    }
    
    html{
        scroll-behavior: smooth;
    }

    .font1{
        font-family: 'Noto Sans KR', sans-serif;
    }

    .font2{
        font-family: 'Anton', sans-serif;
    }

    .font3{
        font-family: 'Bree Serif', serif;
    }

    .font4{
        font-family: 'Permanent Marker', cursive;
    }

    .font5{
        font-family: 'Oswald', sans-serif;
    }



    .navbar{
        display: none;
    }

    .navbar-list{
        display: none;
    }

    .nav-mob{
        display: flex;
        height: 30px;
        align-items: center;
        position: fixed;
        top: 0px;
        width: 100%;
        margin-top: 20px;
        z-index: 1;
        /* padding-right: 50%; */
    }

    .nav-mob > a{
        text-decoration: none;
        color: white;
        font-size: 30px;
        margin-left: 5%;
        /* padding-right: 1%; */
        z-index: 2;
        /* padding-right: -30%; */
        
    }

    .nav-mob-list{
        margin-top: 200px;
    }

    .nav-mob-list > a{
        text-decoration: none;
        color: white;
        display: block;
        padding-top: 10px;
        position: relative;
        text-align: right;
        margin-left: 700%;
    }

    .nav-mob > .icon{
        display: block;
        position: absolute;
        right: 0;
        margin-right: 5%;
        /* margin-left: -10%; */
    }
    

    
    /* images */
    .slides{
        /* padding: 10px; */
        align-items: center;
        justify-content: center;
        align-content: center;
        position: absolute; 
        height: 50%;
        margin: 30% 0;
        
    }

    .slider{
        
        background-color: #0a0b10;
        overflow: hidden;
        display: flex;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        height: 100%;
        align-items: center;
        width: 100%;
        padding-bottom: 50%;
        
    }



    .land{
        background-color: rgba(153, 153, 153, 0.6);
        z-index: 2;
        height: 500px;
        text-align: center;
        color: white;
        margin: 20vh auto;
        padding: 0 200px;
        margin-top: 75%;
        /* justify-content: center;
        align-items: center;
        height: 100vh;
        padding: -80px; */
        z-index: 3;
        width: 100%;
    }

    .land > h1{
        font-size: 80px;
        font-weight : bold;
        color: whitesmoke;
        
    }
    
    
    .land > h3{
        color: #ededed;
    }
    

    
    .about{
        height: 280vh;
        background-color: #0a0b10;
        display: inline-block;
        transition: .5s;
        align-items: center;
        justify-content: center;
    }
    
    .about > h1{
        text-align: left;
        padding: 20px 50px 200px 50px;
        font-size: 50px;
        color: #F5F0F0;
    }
    
    .about > h3{
        text-align: right;
        padding: 100px 50px 30px 0px;
        font-size: 30px;
        color: #F5F0F0;
    }

    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: rgba(249, 240, 243, 1);
        transition: 0.3s;
        width: 70%;
        padding: 5px 5px 10px 5px;
        display: block;
        margin: 10% auto;
    }
    
    .card:hover {
        box-shadow: 0 8px 16px 0 whitesmoke;
    }
    
    .container {
        padding: 2px 20px;
        color: black;
        font-size: 20px;
    }


    
    .parallax{
        background: url(../images/footer.jpg);
        height: 100vh;
        padding-top: 30px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }


    .countdown{
        text-align: center;
        font-size: 50px;
        color: #F5F0F0;
        border-top: 1px solid white;
        padding-top: 30px;
        
    }

    .dot{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .dot > div{
        color: white;
    }

        
    .p-title{
        color: #F5F0F0;
        margin: 10%;
    }

    .p-title > div > h1{
        font-size: 50px;;
    }

    .p-title > h4{
        font-size: 40px;
    }

    .p-title > div > h2{
        font-size: 60px;
    }


    .contact-us{
        height: 100vh;
        width: 100%;
        background-color: #0a0b10;
        display: grid;
        grid-template-columns: 50%;
        /* padding: 20%; */
        /* align-items: center;
        justify-content: center; */
    }
    
    form{
        width: 100%;
    }
    
    .form-contents > h1{
        font-size: 50px;
        color:  #F5F0F0;
    }
    
    .form-contents, .contact-message{
        width: 100%;
        /* resize: none; */
        
    }
    
    .form-input{
        display: block;
        margin: 7px 0;
        width: 100%;
        border-radius: 10px;
        height: 25px;
        font-size: 20px;
    }
    
    .message{
        height: 100px;
        resize: none;
    }
    
    .contact-btn{
        align-items: left;
        width: 80px;
        font-size: 20px;
        background-color: #F5F0F0;
    }
    
    .googlemaps{
        height: 250;
        width: 380;
    }
    
    .contact-btn:hover{
        background-color: rgba(68, 67, 67, 0.445);
        color: white;
    }
    
    .find-us > h1{
        width: 100%;
        font-size: 50px;
        color:  #F5F0F0;
        /* padding-top: -30%; */
    }


    .end{
        background: url(../images/black.jpg);
        height: 30vh;
        /* padding-top: 20px; */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        /* padding-left: 80px; */
        display: flex;
        font-size: 20%;
        padding: 10%;
     }
    
    
    
     .follow{
        border-top: 1px solid white;
        padding-top: 10px;
        position: absolute;
        /* padding-bottom: 30%; */
     } 
    
     /* 
     .fa {
      padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    } */
    
    
     .fab {
        padding: 20px;
        text-align: center;
        text-decoration: none;
        margin: 5px;
        border-radius: 50%;
    }
    
    
    .fa:hover {
      opacity: 0.7;
    }
    
    .fa-facebook {
        /* background: #3B5998; */
        color: white;
        padding: 20px 24px;
      }
      
      .fa-twitter {
        /* background: #55ACEE; */
        color: white;
      }
      
      .fa-google {
        /* background: #dd4b39; */
        color: white;
      }
      
      .fa-youtube {
        /* background: #bb0000; */
        color: white;
      }
      
      .fa-instagram {
        /* background: #125688; */
        color: white;
      }
    
      /* all rights reserved */
    .copyright{
        text-align: right;
        color: #F5F0F0;
        font-size: 50%;
        /* padding-left: 40%; */
        margin-top: 10%;
        margin-right: 5%;

    }
    
    .f-title{
        text-align: left;
        color: #F5F0F0;
        font-size: 50%;
        /* padding-right: 30%; */
        margin-top: 10%;
        /* margin-left: -10%; */
        margin-right: 40%;
    }



}
